{% extends "user_notification_email.html" %}
{% block content %}
<table>
	<tr><td style="color: #eceff1;">
		Thank you for signing up for a Coincube account. We need to verify your account before you can start setting up.
	</td></tr>
	<tr><td style="text-align: center; padding: 24px;  color: #eceff1;">
		<a href="{{ data.confirm_url }}" style="display: block; margin: auto; text-decoration: none; line-height: 40px; width: 327px; height: 40px; border-radius: 2px; background-color: #00becc; border:none; color: #111c21; font-size: 17px; text-align: center;">VERIFY YOUR EMAIL</a>
	</td></tr>
	<tr><td style="color: #eceff1;">
		Having troubles? Copy and paste this link in your browser: <a href="{{ data.confirm_url }}" style="color: #00becc; text-decoration: none;">{{ data.confirm_url }}</a>
	</td></tr>
</table>
{% endblock %}