{% extends "user_notification_email.html" %}
{% block content %}
	<table style="background-color: #0b0e0f; width: 100%; font-size: 20px; font-weight: 300; border-radius: 5px; border: none; border-collapse: collapse;">
		<tr>
			<td style='background-color: #ff3e24; height: 128px; font-size: 28px; font-weight: 300; text-align: center; border-top-left-radius: 5px; border-top-right-radius: 5px; border: none; border-collapse: collapse; padding: 12px; color: #eceff1;'>
				<img src="{{ data.img_url }}/mail/ic-api.png" style="margin-bottom: 12px"><br>
				Broken Connection
			</td>
		</tr>
		<tr>
			<td style="text-align: center; padding-top: 24px; padding-right: 24px; padding-left: 24px; color: #eceff1;">
				Your {{ data.exchange_name }} connection is no longer active. Log in to re-connect your exchange. This can occur if you use your API key outside of COINCUBE or if your key permissions aren't set correctly.
				
			</td>
		</tr>
		<tr>
			<td style="text-align: center; padding: 24px;">
				<a href="{{ data.site_url }}" style="display: block; margin: auto; text-decoration: none; line-height: 40px; width: 327px; height: 40px; border-radius: 2px; background-color: #e130b0; border:none; color: #111c21; font-size: 17px; text-align: center;">RE-CONNECT NOW</a>
			</td>
		</tr>
	</table>

	{% if data.api_response %}
		<table>
			<tr>
				<td style="padding-right: 40px; padding-left: 40px; padding-top: 12px; font-size: 20px; font-weight: 500; color: #eceff1;">
					Why was my connection lost?
				</td>
			</tr>
			<tr>
				<td style="padding-right: 40px; padding-left: 40px; color: #eceff1;">
					{{ data.api_response }}
				</td>
			</tr>
		</table>
	{% endif %}
{% endblock %}