{% extends "user_notification_email.html" %}
{% block content %}
	<p>Congratulations! You have set up a new {{ data.exchange_name }} Cube in your {{ data.app_title }} account.<p>

	<p>We wanted to share some helpful information.<p>

	<p><b>Cube Algorithm Options</b><br/>
	We currently offer three algorithms, Tracker, Index, and Centaur. Tracker will simply keep track of your exchange balances and will not trade your funds. With Index, select one of the Index Portfolio options and and our software will automatically track and rebalance your chosen index every month. Finally, Centaur is for traders who wish to actively manage their portfolio. This algorithm is customizable with parameters for adjusting the rebalance frequency, threshold as well as allowing fully customized portfolio allocations.
	</p>

	<p><b>Manual Trading</b><br/>
	Unless you are using our Tracker algorithm, you shouldn't manually trade in your connected exchange account. This activity will interfer with the trading engine and will also trigger our "Rogue Trading Detection" system which will put your account into loss prevention mode.</p>

	<p><b>More Information</b><br />
	For frequently asked questions, <a href="{{ data.site_url }}/faq">visit our FAQ.</a></p>

{% endblock %}
