{% extends "user_notification_email.html" %}
{% block content %}
	<p>Your current account value for your {{ data.app_title }}  Cube is ${{ '{0:.2g}'.format(data.val_fiat) }} <p>

	<p>Your Cube will not be traded until you deposit enough funds to bring your exchange account value to over ${{ data.usd_min }} BTC.<p>

	<p>If you no longer want to use {{ data.app_title }} to trade your {{ data.exchange_name }} account you don't need to do anything or you can sign in to your <a href="{{ data.site_url }}">{{ data.app_title }}</a> account and close the corresponding Portfolio manually to stop receiving these warnings.</p>

{% endblock %}
