{% extends "user_notification_email.html" %}
{% block content %}

<p>Your {{ data.app_title }} account was canceled on {{ data.closed_at.strftime('%d %B %Y %H:%M') }}.</p>

<p>We would be very grateful if you could answer the following very short survey so that we can continue to improve our service.</p>

<p><a href="https://www.surveymonkey.com/r/5YZ3DQM"><img src="{{ data.site_url }}/static/img/email/exit-survey.png"  /><br>
<br>
GO TO SURVEY</a>
</p>



<p>Thank You!</p>


{% endblock %}
