{% extends "user_notification_email.html" %}
{% block content %}
	<p>It looks like you started to set up a COINCUBE Portfolio but didn’t add an exchange API connection. Please <a href="{{ url_for('front.signin') }}">sign in</a> to your account, fill out the "Add Exchange Account Connections" form, and click "ADD CONNECTION." You can add multiple exchanges to your Portfolio. Once your have added an exchange(s), please proceed through the next two steps to finish setting up your Portfolio.<p>

{% endblock %}
