{% extends "user_notification_email.html" %}
{% block content %}
	<p>It looks like you didn’t submit your investment profile your COINCUBE Portfolio. Please <a href="{{ url_for('front.signin') }}">sign in</a> to your account, enter your investment profile data into the "Submit Your Investment Profile" form and click "SUBMIT INVESTMENT PROFILE." Once you have reviewed the suggested Portfolio allocations, please click "FINALIZE PORTFOLIO SETUP."<p>

{% endblock %}
