{% extends "user_notification_email.html" %}
{% block content %}
<table>
	<tr><td style="color: #eceff1;">
		<p>This is a reminder that your premium account will expire on {{ data.paid_until.strftime('%B %-d, %Y') }}.</p>
		<p>If payment isn't received prior to the expiriation date your Cube(s) will be downgraded to our free Tracker product.
		<p>Please <a href="{{ data.site_url }}">sign in</a> to your account in order to make a payment before the due date to avoid any interruption of service.</p>
		<p>You can extend your current plan for another {{ data.months }} months for ${{ data.months * data.monthly_rate }} or choose from any of our other available payment plans.</p>
	</td></tr>
	<tr><td style="color: #eceff1;">
		Contact <a href="mailto:{{ data.support_email }}">support</a> with any questions you may have about your bill.
	</td></tr>
</table>
{% endblock %}