{% extends "user_notification_email.html" %}
{% block content %}
	<table>
		<tr><td style="color: #eceff1;">
			On {{ data.paid_at.strftime('%B %-d, %Y') }} we received your payment. Please, keep this email as confirmation of the transaction.
		</td></tr>
		<tr><td style="color: #eceff1;">
			Contact <a href="mailto:{{ data.support_email }}">support</a> with any questions you may have about your bill.
		</td></tr>
	</table>
{% endblock %}
{% block wide_content %}
<table style="width: 100%; background-color: #0b0e0f">
	<tr>
		<td style="padding: 12px 40px">
			<table style="width: 100%; background-color: #0b0e0f">
				<tr><td style="color: #eceff1; font-size: 2px" colspan="2">
					Payment Breakdown
				</td></tr>
				<tr><td style="color: #eceff1; width: 50%">Received</td>
					<td style="color: #eceff1; width: 50%">{{ data.paid_at.strftime('%B %-d, %Y') }}</td></tr>
				<tr><td style="color: #eceff1; width: 50%">Amount</td>
					<td style="color: #eceff1; width: 50%">{{ round(data.amount_paid, 2) }} USD</td></tr>
				<tr><td style="color: #eceff1; width: 50%">Method</td>
					<td style="color: #eceff1; width: 50%">{{ data.method }}</td></tr>
				<tr><td style="color: #eceff1; width: 50%">Product</td>
					<td style="color: #eceff1; width: 50%">{{ data.product }}</td></tr>
				<tr><td style="color: #eceff1; width: 50%">Months Paid</td>
					<td style="color: #eceff1; width: 50%">{{ data.months }}</td></tr>
				<tr><td style="color: #eceff1; width: 50%">Paid Until</td>
					<td style="color: #eceff1; width: 50%">{{ data.paid_until.strftime('%B %-d, %Y') }}</td></tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

