{% extends "user_notification_email.html" %}
{% block content %}
<table>
	<tr><td style="color: #eceff1;">
		Sorry to hear you’re having troubles accessing your account. We’ll help you reset your password using the link below.
	</td></tr>
	<tr><td style="text-align: center; padding: 24px;">
		<a href="{{ data.recover_url }}" style="display: block; margin: auto; text-decoration: none; line-height: 40px; width: 327px; height: 40px; border-radius: 2px; background-color: #00becc; border: none; color: #111c21; font-size: 17px; text-align: center;">RESET PASSWORD</a>
	</td></tr>
</table>
{% endblock %}