<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block head %}{% endblock %}
  </head>

  <body style='font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif; color: #eceff1; '>
    {% block alert %}{% endblock %}
    <table style="background-color: #202c32; width: 100%; font-size: 16px;">
      <tr>
        <td style="padding: 20px">
          <table style="width: 100%">
            <tr>
              <td>
                <a href="{{ data.site_url }}"><img src="{{ data.img_url }}/mail/coincube-logo.png" style="width: 119px"></a>
              </td>
            </tr>
            <tr>
              <td style=" color: #eceff1;">
                <p style="font-size: 20px;">Hi {% if data.name %}{{ data.name }}{% else %}Coincube Customer{% endif %},</p>
                  {% block content %}{% endblock %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="width: 100%">
          {% block wide_content %}{% endblock %}
        </td>
      </tr>
      <tr>
        <td style="padding: 20px">
          <table style="width: 100%">
            <tr>
              <td style=" color: #eceff1;">
                <p>
                  Sincerely,<br />
                  The COINCUBE Team<br />
                  <a href="{{ data.site_url }}" style="color: #00becc; text-decoration: none;">coincube.io</a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table style="background-color: #111c21; width: 100%; font-size: 12px;">
      <tr>
        <td style="padding: 12px">
          <table style="width: 100%">
            <tr>
              <td style="padding: 6px">
                <table style="width: 100%">
                  <tr>
                    <td style="width: 50%; padding: 12px; text-align: right;"><a href="https://www.facebook.com/coincube.io/"><img src="{{ data.img_url }}/mail/ic-facebook.png"></a></td>
                    <td style="width: 50%; padding: 12px; text-align: left;"><a href="https://twitter.com/coincube"><img src="{{ data.img_url }}/mail/ic-twitter.png"></a></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <td style="width: 37%; text-align: right;"><a href="{{ data.site_url }}#terms" style="color: #00becc; text-decoration: none; font-weight: bold;">Terms of Use</a></td>
                    <td style="width: 26%; text-align: center;"><a href="{{ data.site_url }}#privacy" style="color: #00becc; text-decoration: none; font-weight: bold;">Privacy Policy</a></td>
                    <td style="width: 37%; text-align: left;"><a href="mailto:{{ data.support_email }}" style="color: #00becc; text-decoration: none; font-weight: bold;">Contact Us</a></td>
                  </tr>
                </table>
              </td>
            </tr>
            {#
            <tr>
              <td style="color: #eceff1;">
                Legal disclaimer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum enim sem, malesuada in euismod a, vestibulum ac turpis. Aliquam eget justo at neque eleifend vulputate. Aenean vel est sit amet nulla tincidunt malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
              </td>
            </tr>
            <tr>
              <td style="padding-top: 6px; color: #eceff1;">
                1234 Saga Street Suite 316 | City, State 32212
              </td>
            </tr>
            #}
            {% if unsubscribe: %}
              <tr>
                <td>
                  <a href="#" style="color: #00becc; text-decoration: none;">Unsubscribe from this list</a>
                </td>
              </tr>
            {% endif %}
            <tr>
              <td style="padding-top: 12px; color: #eceff1;">
                © 2018 Coin Cube LLC
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>